%h3
  Note

%table.table.table-bordered.server-data.server-data-note
  %tbody
    %tr
      %th
        = resource.class.human_attribute_name :name
      %td
        = resource.name
    %tr
      %th
        = resource.class.human_attribute_name :note
      %td
        %pre= resource.note
