%h3
  Basic Information

%table.table.table-bordered.server_data
  %tbody
    %tr
      %th
        = f.label :parent
      %td
        = f.select :parent_id, resource.available_parents.map{|group| [group.name, group.id]}, :include_blank => true
    %tr
      %th
        = f.label :name
      %td
        = f.text_field :name, :class => 'text_field'
