= bootstrap_header(resource.name)

%dl.dl-horizontal
  -#%dt
  -#  %strong
  -#    = resource_class.human_attribute_name(:group)
  -#    = ':'
  -#%dd
  -#  = resource.group.name

.form-actions
  = edit_resource_button
  = delete_resource_button