- content_for :sub_layout do

  .row-fluid.ajax-hijacker{'data-target' => '#ajax_container'}
    .span3

      .treeGroup

        .controls
          .input-prepend
            %span.add-on
              %i.icon-search
              %input.search{:placeholder => 'Search'}

        .tree

    #ajax_container.span9
