table.server-data {

  width: 100%;

  th {
    width: 20%;
    text-align: right;

    label {
      font-weight: bold;

      &:after {
        content: ' :'
      }
    }

  }

  &.server-data-key {
    textarea {
      width: 500px;
      height: 100px;
    }
  }

  &.server-data-note {
    textarea {
      width: 500px;
      height: 100px;
    }
  }

  &.server-data-password {
    textarea {
      width: 500px;
      height: 100px;
    }
  }

}